USE [master]
GO
/****** Object:  Database [EventDB]    Script Date: 10/20/2025 7:45:15 PM ******/
CREATE DATABASE [EventDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventDB', FILENAME = N'/var/opt/mssql/data/EventDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventDB_log', FILENAME = N'/var/opt/mssql/data/EventDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventDB]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 10/20/2025 7:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[endTime] [datetime2](6) NULL,
	[location] [nvarchar](500) NULL,
	[startTime] [datetime2](6) NULL,
	[title] [nvarchar](255) NOT NULL,
	[category] [nvarchar](100) NULL,
	[currentParticipants] [int] NULL,
	[fee] [float] NULL,
	[imageUrl] [nvarchar](500) NULL,
	[maxCapacity] [int] NULL,
	[organizer] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[tags] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 10/20/2025 7:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[eventId] [bigint] NOT NULL,
	[userId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_history]    Script Date: 10/20/2025 7:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ip_address] [varchar](50) NULL,
	[login_time] [datetime2](6) NULL,
	[status] [varchar](20) NULL,
	[user_id] [bigint] NULL,
	[username] [varchar](50) NOT NULL,
	[logout_time] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_queue]    Script Date: 10/20/2025 7:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_queue](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[event_id] [bigint] NOT NULL,
	[send_at] [datetime2](6) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/20/2025 7:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[department] [nvarchar](255) NULL,
	[displayname_th] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[faculty] [nvarchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([id], [description], [endTime], [location], [startTime], [title], [category], [currentParticipants], [fee], [imageUrl], [maxCapacity], [organizer], [status], [tags]) VALUES (24, N'เปิดบ้านธรรมศาสตร์: เปิดหน้าต่างแห่งโอกาส สู่พื้นที่ของทุกความเป็นไปได้', CAST(N'2025-11-08T23:55:00.0000000' AS DateTime2), N'Thammasat', CAST(N'2025-11-07T09:00:00.0000000' AS DateTime2), N'Thammasat openhouse', N'ธรรมศาสตร์ ศูนย์รังสิต', NULL, NULL, N'/images/events/openhouse.png', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[favorites] ON 

INSERT [dbo].[favorites] ([id], [eventId], [userId]) VALUES (1, 7, 4)
SET IDENTITY_INSERT [dbo].[favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[login_history] ON 

INSERT [dbo].[login_history] ([id], [ip_address], [login_time], [status], [user_id], [username], [logout_time]) VALUES (1, N'0:0:0:0:0:0:0:1', CAST(N'2025-10-20T16:23:58.8907070' AS DateTime2), N'SUCCESS', 4, N'6709490038', NULL)
INSERT [dbo].[login_history] ([id], [ip_address], [login_time], [status], [user_id], [username], [logout_time]) VALUES (2, N'0:0:0:0:0:0:0:1', CAST(N'2025-10-20T16:27:45.2643570' AS DateTime2), N'SUCCESS', 4, N'6709490038', NULL)
INSERT [dbo].[login_history] ([id], [ip_address], [login_time], [status], [user_id], [username], [logout_time]) VALUES (3, N'0:0:0:0:0:0:0:1', CAST(N'2025-10-20T17:14:04.7235810' AS DateTime2), N'SUCCESS', 4, N'6709490038', NULL)
SET IDENTITY_INSERT [dbo].[login_history] OFF
GO
SET IDENTITY_INSERT [dbo].[notification_queue] ON 

INSERT [dbo].[notification_queue] ([id], [created_at], [event_id], [send_at], [status], [updated_at], [user_id]) VALUES (1, CAST(N'2025-10-20T16:26:43.9927830' AS DateTime2), 7, CAST(N'2025-10-19T19:29:00.0000000' AS DateTime2), N'PENDING', CAST(N'2025-10-20T16:26:43.9927830' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[notification_queue] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [created_at], [department], [displayname_th], [email], [faculty], [updated_at], [username]) VALUES (4, CAST(N'2025-10-16T18:13:51.9092000' AS DateTime2), N'ภาควิชาวิทยาการคอมพิวเตอร์', N'ฑีฆายุ ด้วงใส', N'teekayu.dua@dome.tu.ac.th', N'คณะวิทยาศาสตร์และเทคโนโลยี', CAST(N'2025-10-16T18:13:51.9092000' AS DateTime2), N'6709490038')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UKgjcd7qo7y52x3mlmd6t2rqta6]    Script Date: 10/20/2025 7:45:15 PM ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [UKgjcd7qo7y52x3mlmd6t2rqta6] UNIQUE NONCLUSTERED 
(
	[userId] ASC,
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_r43af9ap4edm43mmtq01oddj6]    Script Date: 10/20/2025 7:45:15 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK_r43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[login_history]  WITH CHECK ADD  CONSTRAINT [FK20v0mimmdegh2afs39uixlxpm] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[login_history] CHECK CONSTRAINT [FK20v0mimmdegh2afs39uixlxpm]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD CHECK  (([maxCapacity]>=(1)))
GO
USE [master]
GO
