USE [master]
GO
/****** Object:  Database [EventDB]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE DATABASE [EventDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventDB', FILENAME = N'/var/opt/mssql/data/EventDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventDB_log', FILENAME = N'/var/opt/mssql/data/EventDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsParticipantApproved]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IsParticipantApproved](
    @event_id BIGINT, 
    @username NVARCHAR(50)
)
RETURNS BIT
AS
BEGIN
    DECLARE @is_approved BIT;
    
    IF EXISTS (
        SELECT 1 
        FROM dbo.event_participants 
        WHERE event_id = @event_id AND username = @username
    )
        SET @is_approved = 1;
    ELSE
        SET @is_approved = 0;
    
    RETURN @is_approved;
END;
GO
/****** Object:  Table [dbo].[events]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[location] [nvarchar](500) NULL,
	[startTime] [datetime2](7) NOT NULL,
	[endTime] [datetime2](7) NOT NULL,
	[imageUrl] [nvarchar](500) NULL,
	[category] [nvarchar](100) NULL,
	[tags] [nvarchar](500) NULL,
	[maxCapacity] [int] NULL,
	[currentParticipants] [int] NULL,
	[status] [nvarchar](20) NULL,
	[organizer] [nvarchar](255) NULL,
	[fee] [float] NULL,
	[created_by_admin] [nvarchar](200) NULL,
	[created_by_faculty] [nvarchar](200) NULL,
	[isPublic] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OpenEvents]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OpenEvents]
AS
SELECT 
    id,
    title,
    description,
    location,
    startTime,
    endTime,
    imageUrl,
    category,
    maxCapacity,
    currentParticipants,
    maxCapacity - currentParticipants AS available_slots,
    status,
    organizer,
    fee,
    tags
FROM dbo.Events
WHERE status = 'OPEN' AND startTime > GETDATE();
GO
/****** Object:  View [dbo].[vw_EventStatistics]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EventStatistics]
AS
SELECT 
    category,
    COUNT(*) AS total_events,
    SUM(CASE WHEN status = 'OPEN' THEN 1 ELSE 0 END) AS open_events,
    SUM(CASE WHEN status = 'FULL' THEN 1 ELSE 0 END) AS full_events,
    SUM(CASE WHEN status = 'CLOSED' THEN 1 ELSE 0 END) AS closed_events,
    SUM(CASE WHEN status = 'CANCELLED' THEN 1 ELSE 0 END) AS cancelled_events,
    SUM(currentParticipants) AS total_participants,
    AVG(CAST(currentParticipants AS FLOAT)) AS avg_participants
FROM dbo.Events
GROUP BY category;
GO
/****** Object:  Table [dbo].[event_feedbacks]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_feedbacks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_id] [bigint] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NULL,
	[is_edited] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_participants]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_participants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_id] [bigint] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[student_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[approved_at] [datetime2](7) NULL,
	[approved_by] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[can_review] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ParticipantsWithEventDetails]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ParticipantsWithEventDetails]
AS
SELECT 
    p.id,
    p.event_id,
    e.title AS event_title,
    e.startTime AS event_start_time,
    e.location AS event_location,
    p.username,
    p.student_name,
    p.email,
    p.approved_at,
    p.approved_by,
    p.created_at,
    CASE 
        WHEN f.id IS NOT NULL THEN 1 
        ELSE 0 
    END AS has_given_feedback
FROM dbo.event_participants p
INNER JOIN dbo.Events e ON p.event_id = e.id
LEFT JOIN dbo.event_feedbacks f ON p.event_id = f.event_id AND p.username = f.username;
GO
/****** Object:  View [dbo].[vw_EventParticipantStatistics]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EventParticipantStatistics]
AS
SELECT 
    e.id AS event_id,
    e.title AS event_title,
    e.startTime AS event_start_time,
    e.maxCapacity AS max_capacity,
    COUNT(p.id) AS total_participants,
    COUNT(f.id) AS total_feedbacks,
    CAST(COUNT(f.id) AS FLOAT) / NULLIF(COUNT(p.id), 0) * 100 AS feedback_percentage
FROM dbo.Events e
LEFT JOIN dbo.event_participants p ON e.id = p.event_id
LEFT JOIN dbo.event_feedbacks f ON p.event_id = f.event_id AND p.username = f.username
GROUP BY e.id, e.title, e.startTime, e.maxCapacity;
GO
/****** Object:  Table [dbo].[admins]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[display_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[role] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[created_by] [nvarchar](255) NULL,
	[updated_at] [datetime2](7) NULL,
	[displayName] [nvarchar](1000) NULL,
	[faculty] [varchar](100) NULL,
	[last_login] [datetime2](6) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[event_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[eventId] [bigint] NOT NULL,
	[userId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_history]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[username] [nvarchar](50) NOT NULL,
	[ip_address] [nvarchar](50) NULL,
	[login_time] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_queue]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_queue](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[event_id] [bigint] NOT NULL,
	[send_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[displayname_th] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[faculty] [nvarchar](255) NULL,
	[department] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[theme] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([id], [username], [display_name], [email], [role], [is_active], [created_at], [created_by], [updated_at], [displayName], [faculty], [last_login], [password]) VALUES (1, N'6414421234', N'นายผู้ดูแล ระบบ', N'admin@tu.ac.th', N'SUPER_ADMIN', 1, CAST(N'2025-11-15T05:13:32.2066667' AS DateTime2), N'system', CAST(N'2025-11-17T02:37:05.7050340' AS DateTime2), NULL, NULL, CAST(N'2025-11-17T02:37:05.6852230' AS DateTime2), N'12345')
INSERT [dbo].[admins] ([id], [username], [display_name], [email], [role], [is_active], [created_at], [created_by], [updated_at], [displayName], [faculty], [last_login], [password]) VALUES (2, N'6414421235', N'นางสาวผู้ช่วย ระบบ', N'assistant@tu.ac.th', N'ADMIN', 1, CAST(N'2025-11-15T05:13:32.2066667' AS DateTime2), N'system', CAST(N'2025-11-15T05:13:32.2066667' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[admins] OFF
GO
SET IDENTITY_INSERT [dbo].[event_feedbacks] ON 

INSERT [dbo].[event_feedbacks] ([id], [event_id], [username], [rating], [comment], [created_at], [is_edited], [updated_at]) VALUES (6, 24, N'เซฟซ่า098', 5, N'สนุกมากเลยค้าบ กิจกรรมมากมาย', CAST(N'2025-11-16T17:05:31.3800000' AS DateTime2), NULL, NULL)
INSERT [dbo].[event_feedbacks] ([id], [event_id], [username], [rating], [comment], [created_at], [is_edited], [updated_at]) VALUES (7, 24, N'วิท', 5, N'ได้ความรู้เยอะมาก', CAST(N'2025-11-16T19:16:02.5033333' AS DateTime2), NULL, NULL)
INSERT [dbo].[event_feedbacks] ([id], [event_id], [username], [rating], [comment], [created_at], [is_edited], [updated_at]) VALUES (8, 24, N'ตี้ตีั', 1, N'รถโครตติดเลย อยากให้ปรับปรุงเยอะๆนะครับมอตั้งใหญ่ การบริหารไม่ดีเลย', CAST(N'2025-11-08T12:00:00.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[event_feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[event_participants] ON 

INSERT [dbo].[event_participants] ([id], [event_id], [username], [student_name], [email], [approved_at], [approved_by], [created_at], [can_review]) VALUES (9, 24, N'6709616780', N'Somchai Sukjai', N'somchai.s@dome.tu.ac.th', CAST(N'2025-11-17T01:30:25.1322370' AS DateTime2), N'admin@tu.ac.th', CAST(N'2025-11-17T01:30:25.1322370' AS DateTime2), 1)
INSERT [dbo].[event_participants] ([id], [event_id], [username], [student_name], [email], [approved_at], [approved_by], [created_at], [can_review]) VALUES (10, 24, N'6709616781', N'Siriwan Thongdee', N'siriwan.t@dome.tu.ac.th', CAST(N'2025-11-17T01:30:25.1745890' AS DateTime2), N'admin@tu.ac.th', CAST(N'2025-11-17T01:30:25.1745890' AS DateTime2), 1)
INSERT [dbo].[event_participants] ([id], [event_id], [username], [student_name], [email], [approved_at], [approved_by], [created_at], [can_review]) VALUES (11, 24, N'6709616782', N'Pongsakorn Rattana', N'pongsakorn.r@dome.tu.ac.th', CAST(N'2025-11-17T01:30:25.1767000' AS DateTime2), N'admin@tu.ac.th', CAST(N'2025-11-17T01:30:25.1767000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[event_participants] OFF
GO
SET IDENTITY_INSERT [dbo].[events] ON 

INSERT [dbo].[events] ([id], [title], [description], [location], [startTime], [endTime], [imageUrl], [category], [tags], [maxCapacity], [currentParticipants], [status], [organizer], [fee], [created_by_admin], [created_by_faculty], [isPublic]) VALUES (24, N'Thammasat openhouse', N'เปิดบ้านธรรมศาสตร์:', N'Thammasat', CAST(N'2025-11-07T02:00:00.0000000' AS DateTime2), CAST(N'2025-11-08T23:55:00.0000000' AS DateTime2), N'/images/events/openhouse.png', N'ธรรมศาสตร์ ศูนย์รังสิต', N'วิชาการ', NULL, 12, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[events] OFF
GO
SET IDENTITY_INSERT [dbo].[login_history] ON 

INSERT [dbo].[login_history] ([id], [user_id], [username], [ip_address], [login_time], [status]) VALUES (1, 2, N'6709490038', N'0:0:0:0:0:0:0:1', CAST(N'2025-11-16T23:43:35.8026140' AS DateTime2), N'SUCCESS')
INSERT [dbo].[login_history] ([id], [user_id], [username], [ip_address], [login_time], [status]) VALUES (2, 2, N'6709490038', N'0:0:0:0:0:0:0:1', CAST(N'2025-11-16T23:47:32.6301350' AS DateTime2), N'SUCCESS')
INSERT [dbo].[login_history] ([id], [user_id], [username], [ip_address], [login_time], [status]) VALUES (3, 2, N'6709490038', N'0:0:0:0:0:0:0:1', CAST(N'2025-11-16T23:50:00.6346690' AS DateTime2), N'SUCCESS')
SET IDENTITY_INSERT [dbo].[login_history] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [displayname_th], [email], [faculty], [department], [created_at], [updated_at], [theme]) VALUES (2, N'6709490038', N'ฑีฆายุ ด้วงใส', N'teekayu.dua@dome.tu.ac.th', N'คณะวิทยาศาสตร์และเทคโนโลยี', N'ภาควิชาวิทยาการคอมพิวเตอร์', CAST(N'2025-11-16T23:43:35.7800470' AS DateTime2), CAST(N'2025-11-16T20:14:31.4900000' AS DateTime2), N'light')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admins__F3DBC572A6FC5611]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[admins] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_admins_is_active]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_admins_is_active] ON [dbo].[admins]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_admins_username]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_admins_username] ON [dbo].[admins]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK9vouem5pvxpsjnq64xcmjnv2t]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[event_feedbacks] ADD  CONSTRAINT [UK9vouem5pvxpsjnq64xcmjnv2t] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_event_feedback]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[event_feedbacks] ADD  CONSTRAINT [UQ_event_feedback] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_feedback_event_id]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_feedback_event_id] ON [dbo].[event_feedbacks]
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_feedback_username]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_feedback_username] ON [dbo].[event_feedbacks]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6vb61harn8vrqoep91avx1ofb]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[event_participants] ADD  CONSTRAINT [UK6vb61harn8vrqoep91avx1ofb] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_event_participant]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[event_participants] ADD  CONSTRAINT [UQ_event_participant] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_participant_approved_at]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_participant_approved_at] ON [dbo].[event_participants]
(
	[approved_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_participant_event_id]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_participant_event_id] ON [dbo].[event_participants]
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_participant_username]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_participant_username] ON [dbo].[event_participants]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_events_category]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_events_category] ON [dbo].[events]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_events_endTime]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_events_endTime] ON [dbo].[events]
(
	[endTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_events_organizer]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_events_organizer] ON [dbo].[events]
(
	[organizer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_events_startTime]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_events_startTime] ON [dbo].[events]
(
	[startTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_events_status]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_events_status] ON [dbo].[events]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKgjcd7qo7y52x3mlmd6t2rqta6]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [UKgjcd7qo7y52x3mlmd6t2rqta6] UNIQUE NONCLUSTERED 
(
	[userId] ASC,
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_event]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [UQ_user_event] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_favorites_event_id]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_favorites_event_id] ON [dbo].[favorites]
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_favorites_user_id]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_favorites_user_id] ON [dbo].[favorites]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_login_history_user_id]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_login_history_user_id] ON [dbo].[login_history]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_notification_queue_send_at]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_notification_queue_send_at] ON [dbo].[notification_queue]
(
	[send_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_notification_queue_status]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_notification_queue_status] ON [dbo].[notification_queue]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5727FBF5FD7]    Script Date: 11/17/2025 4:58:47 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_username]    Script Date: 11/17/2025 4:58:47 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_username] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT ('ADMIN') FOR [role]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[event_feedbacks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[event_participants] ADD  DEFAULT (getdate()) FOR [approved_at]
GO
ALTER TABLE [dbo].[event_participants] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT ((0)) FOR [currentParticipants]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[events] ADD  DEFAULT ((0.0)) FOR [fee]
GO
ALTER TABLE [dbo].[favorites] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[login_history] ADD  DEFAULT (getdate()) FOR [login_time]
GO
ALTER TABLE [dbo].[login_history] ADD  DEFAULT ('SUCCESS') FOR [status]
GO
ALTER TABLE [dbo].[notification_queue] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[notification_queue] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notification_queue] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[event_feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_feedback_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_feedbacks] CHECK CONSTRAINT [FK_feedback_event]
GO
ALTER TABLE [dbo].[event_participants]  WITH CHECK ADD  CONSTRAINT [FK_participant_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_participants] CHECK CONSTRAINT [FK_participant_event]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK_favorites_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_favorites_event]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK_favorites_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK_favorites_user]
GO
ALTER TABLE [dbo].[login_history]  WITH CHECK ADD  CONSTRAINT [FK_login_history_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[login_history] CHECK CONSTRAINT [FK_login_history_user]
GO
ALTER TABLE [dbo].[notification_queue]  WITH CHECK ADD  CONSTRAINT [FK_notification_queue_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notification_queue] CHECK CONSTRAINT [FK_notification_queue_event]
GO
ALTER TABLE [dbo].[notification_queue]  WITH CHECK ADD  CONSTRAINT [FK_notification_queue_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notification_queue] CHECK CONSTRAINT [FK_notification_queue_user]
GO
ALTER TABLE [dbo].[event_feedbacks]  WITH CHECK ADD  CONSTRAINT [CHK_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[event_feedbacks] CHECK CONSTRAINT [CHK_rating]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [CHK_currentParticipants] CHECK  (([currentParticipants]>=(0)))
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [CHK_currentParticipants]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [CHK_dates] CHECK  (([endTime]>[startTime]))
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [CHK_dates]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [CHK_maxCapacity] CHECK  (([maxCapacity] IS NULL OR [maxCapacity]>=(1)))
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [CHK_maxCapacity]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckParticipantApproval]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckParticipantApproval]
    @event_id BIGINT,
    @username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (
        SELECT 1 
        FROM dbo.event_participants 
        WHERE event_id = @event_id AND username = @username
    )
        SELECT 1 AS is_approved;
    ELSE
        SELECT 0 AS is_approved;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CountParticipants]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CountParticipants]
    @event_id BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        @event_id AS event_id,
        COUNT(*) AS total_participants
    FROM dbo.event_participants
    WHERE event_id = @event_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEvents]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllEvents]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id, title, description, location, startTime, endTime, imageUrl, category, maxCapacity, currentParticipants, status, organizer, fee, tags
    FROM dbo.Events
    ORDER BY startTime;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEventParticipants]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetEventParticipants]
    @event_id BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id, event_id, username, student_name, email, approved_at, approved_by, created_at
    FROM dbo.event_participants
    WHERE event_id = @event_id
    ORDER BY student_name;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEventsByCategory]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetEventsByCategory]
    @category NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id, title, description, location, startTime, endTime, imageUrl, category, maxCapacity, currentParticipants, status, organizer, fee, tags
    FROM dbo.Events
    WHERE category = @category
    ORDER BY startTime;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IsAdmin]    Script Date: 11/17/2025 4:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IsAdmin]
    @username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (
        SELECT 1 
        FROM dbo.admins 
        WHERE username = @username AND is_active = 1
    )
        SELECT 1 AS is_admin;
    ELSE
        SELECT 0 AS is_admin;
END;
GO
USE [master]
GO
